// Variables
$color-primary: #eee;
$color-secondary: #000;
$size-button: 30px;

// Styles
.navMobile {
  display: none;
}

.navBurgerButton {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 10;
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: $color-primary;
  font-size: $size-button;
  line-height: $size-button;
  text-align: center;
  transition: 0.5s;
}

.navListMobile {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $color-secondary;
  z-index: 10;
  display: none;
}

.navItemMobile {
  list-style: none;
  padding: 10px;
}

.navLinkMobile {
  font-size: 18px;
  color: $color-primary;
  text-decoration: none;
  transition: 0.5s;
}

// Animations
.navBurgerButton:hover {
  color: $color-secondary;
}

.navBurgerButton:active {
  color: $color-primary;
}

.navListMobile.active {
  display: block;
}

//@media (min-width: 768px) {
//  .nav {
//    display: none;
//  }
//}

