@import "../../mixins";

.logout {
  @include nav;
  font-size: inherit;
  font-weight: inherit;
  font-family: inherit;
  border: none;
  background-color: transparent;
  box-shadow: none;
  &:hover {
    cursor: pointer;
  }
}