$fontFamily : 'Montserrat';
$fontFamilyContent: 'Dancing Script';
$primaryDark: #0d0c1c;
$primaryLight: #fff;
$greenish: #effffA;
$primaryHover: #343078;
$text-color: #333;
$border-color: #ccc;
$background-body: #bdb39b;
$background-color: #f9f9f9;
$background-button : #007bff;
$background-button-hover : #0056b3;
$delete-button-color: #f44336;
$delete-button-hover-color: #d32f2f;
$desktop: 768px;
$tablette: 767px;
$mobile: 576px;
